.pay-error {
    color: white;
    font-weight: bold;
}
.pay-title {
    font-size: 1.5rem;
}
.check_tyc{
    border: 2px solid;
}
.js_terms_and_conditions{
    color: black !important;
}
.js_a_terms_and_conditions{
    color: black !important;
    font-weight: 900;
}